<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weijianqiang.testschemetwo">

    <permission
        android:name="com.iflytek.permission.INSTALLPERSION"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.iflytek.permission.INSTALLPERSION" />

    <permission
        android:name="com.permission.iflytek"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.permission.iflytek" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="service"
            android:value="music" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MinitypeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.iflytek" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:mimeType="music/test" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="test" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ThirdActivity" />

        <receiver
            android:name=".TestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iflytek.abcd" />
            </intent-filter>
        </receiver>

        <activity android:name=".androidjshtml.Html5Activity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>